@font-face {
    font-family: 'Cafe24Dangdanghae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.2/Cafe24Dangdanghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
   }
   
   @font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
   }
*{margin: 0; padding: 0;}
ul{list-style: none;}
a{text-decoration: none;}
body{
    font-family: 'NanumBarunGothic';
    font-size: 14px;
    line-height: 24px;
    color: black;

}
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
}
.header_inner{
    width: 1200px;
    height: 130px;
    margin: 0 auto;
    position: relative;
}
.logo{
    position: absolute;
    left: 50%;
    margin-left: -500px;
    top: 20px;
}
.header_inner> ul{
    position: absolute;
    right: 0px;
    top: 70px;
}
.header_inner> ul> li{
    
    float: left; 
    padding-left: 50px;
   
}
.header_inner a{
    color: #fff;
    font-size: 20px;
}
.header_inner a:hover{
    color: rgb(175, 80, 157);
}
.m_nav{
    display: none;
}

.b{ 
    font-family: 'Cafe24Dangdanghae';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-145%,-50%);
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 80px;
    color: #fff;
}
.b1{
    font-family: 'Cafe24Dangdanghae';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-145%,-50%);
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 80px;
    color: #af55a0;
}
.b2{
    font-family: 'Cafe24Dangdanghae';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-145%,-50%);
    font-size: 40px;
    letter-spacing: 3px;
    text-align: center;
    line-height: 80px;
    color: #844d29;
}
h1{
   font-size: 40px;
    color: rgb(175, 80, 157);
    margin-top:  200px;
    text-align: center;
}
.content2{
    width: 100%;
    overflow: hidden;
}
h2{
    
    font-size: 30px;
    line-height: 72px;
    color: #fff;
    padding-top: 80px;
}
.content2_1{
    background: url(images/about1.jpg) no-repeat center top fixed;
    height: 800px;
    
}
.content2_r{
    width: 1200px;
    margin: auto;
    text-align: right;
}
h6{
    font-size: 95px;
    color: #fff;
    text-align: right;
    padding: 93px 190px 0 0;
}
.content2_2{
    background: url(images/about2.jpg) no-repeat center top fixed;
    height: 800px;
}
.content2_l{
    width: 1200px;
    margin: auto;
    text-align: left;
}
.content3{
    width: 1200px;
    overflow: hidden;
    margin: auto;
}
@keyframes insta1{
    0%{transform: translateY(0);}
    100%{transform: translateY(300px);}
}
.content3_1{
    float: left;
    margin: 100px 0;
    animation: insta1 3s linear infinite alternate;
}
@keyframes insta2{
    0%{transform: translateY(0);}
    100%{transform: translateY(-300px);}
}
.content3_2{
    float: right;
    margin: 400px 0 100px;
    animation: insta2 3s linear infinite alternate;
}
.content4{
    padding: 100px 0;
    background-color: rgb(247, 217, 222);
}
.content4 video{
    width: 1000px;
    margin: auto;
    display: block;
}
#footer{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}
.footer_inner{
    width: 1200px;
    height: 150px;
    margin: auto;
    padding-top: 30px;
    color: #ccc;
}
h3{
    float: left;
}
h4{
    float: right;
}
p{
    clear: both;
    padding-top: 20px;
}
@media (max-width:1199px) {
    .header_inner{
        width: 90%;
    }
    .content2_r{
        width: 90%;
    }
    .content2_l{
        width: 90%;
    }
    .content3{
        width: 90%;
    }
    .content4 video{
        width: 80%;
    }
    .footer_inner{
        width: 90%;
    }
    .logo {
        position: static;
        margin-left: 0px;
        float: left;
        padding-top: 20px;
    }
    .header_inner> ul {
        position: static;
        float: right;
        
    }
    .content2_1{
        background: url(images/about1.jpg) no-repeat 0 top fixed;
    }
    .content2_2{
        background: url(images/about2.jpg) no-repeat right top fixed;
    }
    h2,h6{
        color: #ffffff;
        text-shadow: 1px 1px 2px rgb(0 0 0 / 80%);
    }
    @keyframes insta1{
        0%{transform: translateY(0);}
        100%{transform: translateY(250px);} 
    } 
    @keyframes insta2{
        0%{transform: translateY(0);}
        100%{transform: translateY(-250px);}
    }
    .header_inner> ul> li{
    
        float: left; 
        padding-top: 50px;
       
    }
    .b,.b1,.b2{
        font-size: 28px;
        line-height: 40px;
    }
    .b,.b2{
        transform: translate(-105%,-50%);
    }
}
@media (max-width:899px){
    #header{
        position: fixed;
        top: 0;
        left: 0;
    }
    .m_nav{
        display: block;
    }
    .sidebar li a:hover{
        color: rgb(175, 80, 157);
    }
    .header_inner> ul{
        display: none;
    }
    h1{
        font-size: 30px;
    }
    /*움직이는 메뉴버튼*/

input[id="menuicon"]{
	display:none;
}

/*메뉴 아이콘 버튼 크기, 위치*/
input[id="menuicon"]+label{
	display:block;
	width:60px;
	height:40px;
	position:fixed;
	right:30px;
	top:45px;
	z-index:2;
	transition:all 0.5s;
	cursor:pointer;
}

/*메뉴 버튼 클릭했을 때 X버튼 색상*/
input[id="menuicon"]:checked+label span{
	background:#fff;
}

/*메뉴 세줄 버튼*/
input[id="menuicon"]+label span{
	display:block;
	position:absolute;
	width:100%;
	height:5px;
	border-radius:30px;
	background:#fff;
	transition:all 0.5s;
}
input[id="menuicon"]+label span:nth-child(1){
	top:0;
}
input[id="menuicon"]+label span:nth-child(2){
	top:50%;
	transform:translateY(-50%);
}
input[id="menuicon"]+label span:nth-child(3){
	bottom:0;
}

/*메뉴 버튼 클릭했을 때 세줄버튼에서 X버튼으로 바뀌는 모습*/
input[id="menuicon"]:checked+label span:nth-child(1) {top:50%;transform:translateY(-50%) rotate(45deg);}
input[id="menuicon"]:checked+label span:nth-child(2) {opacity:0;}
input[id="menuicon"]:checked+label span:nth-child(3) {bottom:50%;transform:translateY(50%) rotate(-45deg);}


/*메뉴 창*/
.sidebar{
	width:50%;
	height:100%;
	background:rgb(230, 166, 202);
	position:fixed;
	top:0;
	right:-100%;
	z-index:1;
	transition:all 0.5s;
}
input[id="menuicon"]:checked+label+div{
	right:0;
}
.sidebar ul{
    margin: 120px 30px 0;
}
.sidebar li{
    padding-bottom: 15px;
}

}

@media (max-width:699px){
    .header_inner {
        
        height: 93px;
       
    }
    .swiper-container{
        height: 486px;
    }
    .swiper-slide img{
        width: 1000px;
        position: absolute;
        right: -33%;
        top: 0;
    }
	.slick-slide> div {
		margin: 20px;
	}
    .slick-slide.slick-current> div{
        margin: 10px;
    }
    .logo{
        display: block;
        width: 70px;
        padding-top: 13px;
    }
    .logo img{
        width: 100%;
    }
    input[id="menuicon"]+label {
        width: 40px;
        height: 30px;
        top: 33px;
    }
    .b, .b1, .b2{
        width: 100%;
        left: 0;
        top: 120px;
        transform: translate(0,0);
        background-color: rgba(255, 255, 255, 0.3);
        padding: 20px 0;
    }
    .b{
        background-color: rgba(0, 0, 0, 0.3);

    }
    h1{
        margin-top:  150px;
        text-align: center;
    }
    h2{
    
        font-size: 20px;
        line-height: 42px;
        color: #fff;
        padding-top: 50px;
        text-align: center;
    }
    h6{
        font-size: 65px;
        color: #fff;
        text-align: center;
        padding: 174px 0px 0 0;
    }
   
    .content2_1{
        background: url(images/about1.jpg) no-repeat -200px top fixed;
        
        height: 600px;
        background-size: auto 100%;
        
    }
    .content2_2{
        background: url(images/about2.jpg) no-repeat -850px top fixed;
        height: 600px;
        background-size: auto 100%;
    }
    .content3 img{
        width: 100%;
        margin: auto;
    }
    .content3_1{
        float: none;
        margin: 100px auto;
        animation: none;
    }
    .content3_2{
        float: none;
        margin: 100px auto;
        animation: none;
    }
    .content2_r {
        width: 100%;
        height: 100%;
        background-color: rgba(152, 206, 250, 0.3);
    }
    .content2_l {
        width: 100%;
        height: 100%;
        background-color: rgba(182, 250, 197, 0.3);
    }

}